
<div>
    <ul>
        <li>
            <app-summary-card [props]="{'title': 'Check in', 'iconUrl': 'assets/icons/key.png'}">
                test content
            </app-summary-card>
        </li>
        <li>
            <app-summary-card [props]="{'title': 'Check out', 'iconUrl': 'assets/icons/backpack.png'}">
                test content
            </app-summary-card>
        </li>
        <li>
            <app-summary-card [props]="{'title': 'Earnings', 'iconUrl': 'assets/icons/backpack.png'}">
                test content
            </app-summary-card>
        </li>
        <li>
            <app-summary-card [props]="{'title': 'Reviews', 'iconUrl': 'assets/icons/backpack.png'}">
                test content
            </app-summary-card>
        </li>
    </ul>
</div>